# Node.js
node_modules/
**/node_modules/

# Python
__pycache__/
**/__pycache__/
*.pyc

# Env files
.env
**/.env
env.txt
**/env.txt

# Build outputs
dist/
build/
.vite/
.eslintcache
coverage/
*.tsbuildinfo

# Editor/OS
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Misc
.parcel-cache/
.turbo/
.netlify/
.vercel/